= simple_form_for @options, url: admin_options_path, wrapper: :horizontal_form do |f|
  .row
    .col-md-6
      = f.input :tax, label: "Комиссия сервиса" 
      = f.input :feedback_email, label: "Почта для обратной связи" 
      .form-group
        = f.button :submit, 'Сохранить'