= simple_form_for [:dashboard, @request], wrapper: :inline_form, html: { class: 'form-inline'} do |f|
  = f.input :amount, label: 'Сумма'
  = f.button :submit, "Перейти к выводу"
%table.table.table-striped
  %thead
    %tr
      %th Сумма
      %th Дата
  %tbody
    = render @requests