<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Расписание</a></li>
    <li role="presentation"><a href="#coaches" aria-controls="wallet" role="tab" data-toggle="tab">Кошелек</a></li>
    <li role="presentation"><a href="#stadium" aria-controls="setgtings" role="tab" data-toggle="tab">Настройки</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="courts">
      <div class="row top15">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div data-grid data-source="<%= events_path(user: 'current') %>" class="top15"></div>
          <script type="text/javascript">
            var grid = new Tennis.Views.ScheduleView({el: '[data-grid]'});
            // var changes = new Tennis.Collections.Changes();
            // var checkout = new Tennis.Views.CheckoutView({el: '[data-checkout]'});
            // var changesView = new Tennis.Views.ChangesView({el: '[data-event-move]', collection: changes});
            grid.render();
          </script>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="wallet">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>