#courts.tab-pane.active{:role => "tabpanel"}
  .row.top15
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      = label_tag "Выберите корт"
      = select_tag :court, options_for_select(@user.stadium.courts.map {|c| [c.name, c.id, { data: {source: events_path(court_id: c), price: c.price, change_price: c.change_price } } ] }), class: 'form-control'
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .top15{"data-grid" => "", "data-source" => events_path(court_id: @user.stadium.courts.first)}
      :javascript
          var grid = new Tennis.Views.ScheduleView({el: '[data-grid]'});
          // var changes = new Tennis.Collections.Changes();
          // var checkout = new Tennis.Views.CheckoutView({el: '[data-checkout]'});
          // var changesView = new Tennis.Views.ChangesView({el: '[data-event-move]', collection: changes});
          grid.render();