<div class="body-bg">
  <div class="row">
    <div class="entry">
      <h1><span class="title-tire">–</span> Личный кабинет <span class="title-tire">–</span></h1>
      <hr>
      <div class="row">
	      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<%= render @user.class.to_s.underscore %>
	      </div>
      </div>
    </div>
  </div>
</div>