<%= render 'map' %>

  <div class="body-bg"><div class="homepage-container">
  	  <h1><span class="title-tire">&#8211;</span> СПОРТИВНЫЕ ОБЪЕКТЫ ДЛЯ БРОНИРОВАНИЯ <span class="title-tire">&#8211;</span></h1>
<div class="row"><a href="/product-category/stadiony/tennis/">
  <div class="col-md-8 homepage-categories-first"><div class="homepage-txt-block"><div class="hpt-border">Теннис</div></div></div></a>
  	  <a href="/product-category/stadiony/futbol/">
  <div class="col-md-4 homepage-categories-second"><div class="homepage-txt-block"><div class="hpt-border">Футбол</div></div></div></a>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 image-grid-item homepage-categories-third"><div class="homepage-txt-block"><div class="hpt-border">Групповые занятия</div></div></div><a href="/product-category/stadiony/fitnes/">
  <div class="col-xs-12 col-sm-6 col-md-3 image-grid-item homepage-categories-fourth"><div class="homepage-txt-block"><div class="hpt-border">Фитнес</div></div></div></a>
  	  <a href="/product-category/stadiony/joga/">
  <div class="col-xs-12 col-sm-6 col-md-3 image-grid-item homepage-categories-fifth"><div class="homepage-txt-block"><div class="hpt-border">Йога</div></div></div></a>
</div>
    </div>
    </div>