<% breadcrumb :orders %>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  	<h2>Неоплаченные</h2>
		<%= render @orders.unpaid %>
    <p><%= "Еще нет." if @orders.unpaid.empty? %></p>
		<h2>Оплаченные</h2>
		<%= render @orders.paid %>
    <p><%= "Еще нет." if @orders.paid.empty? %></p>
  </div>
</div>