- if coach.has_courts?
  %li.clearfix
    .row
      .col-md-2
        = image_tag coach.avatar.small_square.presence || 'placeholder.png', class: 'avatar photo pull-left'
      .col-md-10
        = link_to coach.name, coach_coaches_court_path(coach, coach.coaches_courts.first)
        - if coach.phone?
          %h5= fa_icon('phone') + ' ' + coach.phone
        - if coach.description?
          %h5= fa_icon('info-circle') + ' ' +  truncate(coach.description)