<form>
	<div class="form-group">
		<label>Начало</label>
		<input type="datetime" value="{{ start }}" class="form-control" name="start" data-datetimepicker>
	</div>
	<div class="form-group">
		<label>Конец</label>
		<input type="datetime" value="{{ end }}" class="form-control" name="end"  data-datetimepicker>
	</div>
	<h3 data-total></h3>
	<div class="form-group">
		<input type="submit" value="Сохранить" class="form-control">
	</div>
</form>