<form>
	<div class="form-group">
		<label>Начало</label>
		<input type="datetime" value="{{ start }}" class="form-control" name="start" data-datetimepicker>
	</div>
	<div class="form-group">
		<label>Конец</label>
		<input type="datetime" value="{{ end }}" class="form-control" name="end"  data-datetimepicker>
	</div>
	<div class="form-group">
		<label>Повторять</label>
		<select name="repeatType" id="repeatType" class="form-control" >
			<option value="no">Нет</option>
			<option value="weekly">Еженедельно</option>
		</select>
		<div class="form-group hidden" data-only='weekly'>
			<label>Повторять по:</label>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="repeatWday" value="1">
					Пн
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="repeatWday" value="2">
					Вт
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="repeatWday" value="3">
					Ср
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="repeatWday" value="4">
					Чт
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="repeatWday" value="5">
					Пт
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="repeatWday" value="6">
					Сб
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="repeatWday" value="0">
					Вс
				</label>
			</div>
			<label>Количество повторений</label>
			<input type="text" name="repeatNum" id="repeatNum" class="form-control" value="" required="required" pattern="" title="">
			<label>или до</label>
			<input type="datetime" name="repeatUntil" id="repeatUntil" class="form-control" value="" required="required" title="" data-datepicker>
		</div>
	</div>
	<h3 data-total></h3>
	<div class="form-group">
		<input type="submit" value="Сохранить" class="form-control btn btn-primary">
	</div>
</form>