%dl.dl-horizontal
  %dt
    %strong Name:
  %dd= @category.name
%dl.dl-horizontal
  %dt
    %strong Parent:
  %dd= @category.parent_id

= link_to 'Редактировать', edit_admin_category_path(@category), class: 'btn btn-default'
= link_to 'Назад', admin_categories_path, class: 'btn btn-default'
