%tr
  %td= static_page.title
  %td= link_to 'Редактировать', edit_admin_static_page_path(static_page), class: 'btn btn-default btn-xs'
  %td= link_to 'Удалить', [:admin, static_page], :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: 'btn btn-danger btn-xs'