<% breadcrumb :stadiums %>
<% breadcrumb :category, @category  if @category %>

<div class="body-bg">
	<div class="row">
		<div class="entry">
			<h1><span class="title-tire">–</span> Стадионы <span class="title-tire">–</span></h1>
			<hr>
			<ul class="list-unstyled">
			<% @stadiums.each do |stadium| %>
				<li class="clearfix">
		  		<%= image_tag 'placeholder.png', class: 'avatar photo pull-left', size: '60x60' %>
					<%= link_to stadium.name, stadium %>
				</li>
			<% end %>
			<% if @stadiums.empty? %>
				<p class="text-center">Не найдено</p>
			<% end %>
			</ul>
		</div>
	</div>
 </div>
