- breadcrumb :stadium, @stadium

= render 'overview', stadium: @stadium
-#
  
  <div role="tabpanel" class="tab-pane" id="photos">
    <div class="row">
      <% @stadium.pictures.each do |picture| %>
        <div class="col-md-3">
          <%= link_to picture.name.to_s, data: { lightbox: 'stadium' }  do%> 
            <%= image_tag picture.name, height: '200', class: 'img-responsive thumbnail rounded' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="reviews">...</div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>