.body-bg
  .row
    .entry
      %h1
        %span.title-tire –
        Акции
        %span.title-tire –
      %hr/
      .row
      %ul.list-unstyled
        - @sales.each do |stadium|
          %li.clearfix
            = link_to  stadium do
              = image_tag stadium.pictures.last.try(:name).try(:thumb).try(:url) || 'placeholder.png', class: 'avatar photo pull-left', size: '60x60'
              = stadium.name