    <footer class="footer">
      <div class="container">
        <div class="footer-left col-md-4">Разработано в 2015</div>
        <div class="footer-center col-md-4">Мы в соцсетях:
					<%=  image_tag 'instagram.png', class: 'img-inline' %>
					<%=  image_tag 'twitter.png', class: 'img-inline' %>
					<%=  image_tag 'youtube.png', class: 'img-inline' %>
					<%=  image_tag 'facebook.png', class: 'img-inline' %>
        <p style="padding-top:10px;">Пишите нам: info@info.ru</p>
        </div>
        
        <div class="footer-right col-md-4">
        	<?php wp_nav_menu( array( 'theme_location' => 'footer-menu' ) ); ?>
        	</div>
      </div>
    </footer>