<% if user_signed_in? %>
  <div class='balance'>
    <%= link_to orders_path do %>
      Ваш баланс: <%= number_to_currency(current_user.wallet.total, precision: 0) %>
    <% end %>
  </div>
<% end %>