<% if user_signed_in? %>
  <div class='balance'>
    <a href='/my-account/'>
    Ваш баланс: <%= number_to_currency(current_user.wallet.total, :unit => "руб. ", format: "%n %u") %>
    </a>
  </div>
<% end %>